name: 'fsb-dev'
services:
  fsb-app-dev:
    image: licwim/feature-storage-bot:${TAG:-master}
    volumes:
      - /apps/feature-storage-bot/dev/logs/app:/var/log/app:rw
      - /apps/feature-storage-bot/dev/logs/cron:/var/log/cron:rw
      - /apps/feature-storage-bot/dev/content:/app/content
    logging:
      driver: "journald"
    labels:
      build: $BUILD_VERSION
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
        window: 10s
    environment:
      - DB_HOST=fsb-db-dev
      - DB_NAME=$DB_NAME
      - DB_USER=$DB_USER
      - DB_PASSWORD=$DB_PASSWORD
      - BOT_TOKEN=$BOT_TOKEN
      - API_ID=$API_ID
      - API_HASH=$API_HASH
      - BOT_USERNAME=FeatureStorageTestBot
      - BUILD_VERSION=$BUILD_VERSION
      - FSB_DEV_MODE=True
      - LOG_FOLDER=/var/log/app/
      - TZ=Europe/Moscow
      - FOOL_DAY=$FOOL_DAY

  fsb-db-dev:
    image: mysql:8.0.31
    volumes:
      - fsb-db-data-dev:/var/lib/mysql
    restart: always
    ports:
      - "3307:3306"
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=1
      - TZ=Europe/Moscow

volumes:
  fsb-db-data-dev:
