version: '3.3'
services:
  fsb-app:
#    image: licwim/feature-storage-bot:master
    build: .
    volumes:
      - ./:/app
      - /app/.venv/
    env_file:
      - .env
    environment:
      - PIPENV_DONT_LOAD_ENV=1
      - DB_HOST=fsb-db
      - LOG_FOLDER=./logs

  fsb-db:
    image: mysql:8.0.31
    volumes:
      - fsb-db:/var/lib/mysql
    ports:
      - "3306:3306"
    env_file:
      - .env

volumes:
  fsb-db: {}
