[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
telethon = "==1.24.0"
pyyaml = "==6.0"
peewee = "==3.14.9"
peewee-async = "==0.7.2"
aiomysql = "==0.0.22"
inflection = "==0.5.1"

[requires]
python_version = "3.10"
